# python #
######################
**.pyc
backend/settings.pyc

# django #
######################
*.log
local_settings.py

# virtual env #
######################
backend/env/

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


# angular #
######################
node_modules/
typings/
*.log.*

# typescript #
######################
*.map
frontend/app/*.js
# db #
######################
**.sqlite3