.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.categories {
}

.categories li {
    cursor: pointer;
    background-color: #EEE;
    border-radius: 4px;
}

.categories li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

.categories li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.categories .text {
    margin-left: 5%;
}

.categories .index {
    color: white;
    background-color: #607D8B;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    padding: 10px 0;
    width: 5%;
    text-align: center;
    border-radius: 1px;
}

button.delete {
    background-color: gray !important;
    color: white;
}

.my-category-details {
}

.my-items {
}