/* items class */
.items {
  cursor: pointer;
  border-radius: 4px;
}

.items:hover {
  opacity: 0.8;
  left: .1em;
}

.items .delete {
  float: right;
  background-color: gray;
  color: white;
}

.items .panel-heading {
  color: white;
  background-color: #607D8B;
}

.glyphicon {
  color: white;
  background-color: #607D8B;
  border-radius: 50%;
  width: 10%;
  height: 10%;
  float: right;
}